<!-- <section class="example-section" [formGroup]="optionsList">
    <tr *ngFor="let sente of sentence">
    <h2>{{sente.sentence}}</h2>
    </tr>
    <br>
    <h4>Select all words that could fill in the above sentence:</h4>
    <tr *ngFor="let option of options">
      <p><mat-checkbox id={{option.optionDescription}} formControlName="options" (change)="showOptions($event)" >{{option.optionDescription}}</mat-checkbox></p>
      <input class="form-check-input" type="checkbox" (change)="showOptions($event)"/>  
    </tr>
  </section>
  
  <section class="example-section" [formGroup]="reactiveForm">
    <h4>You chose:</h4>
    {{reactiveForm.value | json}}
  </section> -->

  <div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let option of optionsL">
          <th scope="row">
            <input class="form-check-input" type="checkbox" [value]="option.id" [checked]="option.select" (change)="showOptions($event)"/>
          </th>
          <td>{{option.optionDescription}}</td>
        </tr>
      </tbody>
    </table>
  </div>