<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
  <h4>Runninghill Assessment</h4>
  
    <h4>Select all words that could fill in the above sentence:</h4><br>
    
  Options : <div *ngFor = "let option of Options; let i=index">
    <input type="checkbox" [value]="option.value" (change)="onCheckboxChange($event)"/>
    {{option.name}}
  </div>
  <br>
  Description : <input type="text" name="description" formControlName="description">
  <br>
  <br>
  <input type="submit" value="Submit">

</form>